<div class="b-loginform">
    <form class="form-group" novalidate>
        <input type="text" name="email" ng-model="form.email" class="b-loginform-email form-control" placeholder="email" required>
        <input type="password" name="password" ng-model="form.password" class="b-loginform-pass form-control" placeholder="password" required>
        <a href="javascript:void(0)" class="b-loginform-btn btn btn-material-blue-grey btn-raised" ng-click="sign_in(form)">Sign-in</a>
        <a href="javascript:void(0)" class="b-loginform-btn btn btn-material-blue-grey btn-link" ng-click="sign_up(form)">Sign-up</a>
    </form>
</div>
